@using MvcCv.Models.Entity
@model List<Tbl_Experience>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Deneyimlerim</h3>
<table class="table table-bordered">
    <tr>
        <th style="width: 10px">Id</th>
        <th>Firma Adı</th>
        <th>Pozisyon</th>
        <th>Tarih</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Subtitle</td>
            <td>@item.Date</td>

            <td>
                <a class="btn btn-info btn-sm" href="/Experience/EditExperience/@item.Id">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Düzenle
                </a>
                <a class="btn btn-danger btn-sm" href="/Experience/DeleteExperience/@item.Id" style="margin-left:10px">
                    <i class="fas fa-trash">
                    </i>
                    Sil
                </a>
            </td>
        </tr>
    }
</table>
<a href="/Experience/AddExperience/" class="btn btn-info">Yeni Deneyim Ekle</a>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" id="successMessage">
        @TempData["Message"]
    </div>

    <script>
        setTimeout(function() {
            document.getElementById("successMessage").style.display = "none";
        }, 4000); </script>
}